.top-info{
    display: block;
    text-align: center;
    font-family: "微軟正黑體";
}
#pm25_link{
    display:flex;
}
.top-zone{
    display: block;
    background-image: url("../img/top_info.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 80%;
    height: 260px;
}
table{
    margin-top: 8%;
}
table td{
    height: ㄓ%;
    vertical-align : middle;
}
.label{
    display: inline-grid;
    position: relative;
    top : -20px;
    margin-left: 5px;
    font-size: 25px;
    font-family: "微軟正黑體";
    font-weight: 600;
}
.pm25{
    margin-left: 110px;
}
#pm25-value{
    display: inline-block;
    position: relative;
    margin-left: 12%;
    top : -15px;
    font-size: 30px;
    font-family: "微軟正黑體";
    font-weight: 600;
}
#air-quality{
    display: inline-block;
    position: relative;
    margin-right: 10%;
    top : -18px;
    font-size: 30px;
    font-family: "微軟正黑體";
    font-weight: 600;
}
#siteName{
    display: inline-block;
    position: relative;
    width:35%;
    top : -20px;
    font-size: 25px;
    font-family: "微軟正黑體";
    font-weight: 600;
}
.line{
    width:80%;
    height:20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top : -6px;
/*    bottom: 0px;*/
/*    background-color: aquamarine;*/
}
.icon{
    position: relative;
    
    display: inline-block;
    width: 50px;
    height:auto;
    margin-left: 6%;
}
#location{
    padding-top: 106px;
    font-size: 20px;
}
#today{
    font-size: 16px;
}
#last-update{
    font-size : 12px;
}
.content{
    display: table;
    margin-left: auto;
    margin-right: auto;
/*    background-color: bisque;*/
}
body{
    background-image: url("../img/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1280px;
}
table a{
    text-decoration : none;
    color:inherit;
    font-style: normal;
}
