h3{
    text-align : center;
}
.item{
    width: 70px;
    height: auto;
}
table{
    margin-left : auto;
    margin-right: auto;
}
.content {
    margin-top : 150px;
}
body {
    height : 580px;
    background-image : url("../img/setting_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
label, button{
    font-size: 30px;
    font-family: "微軟正黑體";
    margin-top : 10px;
}
.row{
    width : 70%;
    margin-left : 60px;
}